
<% if flash.include? :correct -%>
<p class="result correct"><%= flash[:correct] %></p>
<% elsif flash.include? :incorrect -%>
<p class="result incorrect"><%= flash[:incorrect] %></p>
<% end -%>
<p class="item"><%= @item.name %></p>

<% form_tag choose_path do -%>
<div>
  <%= hidden_field_tag("id", @item.id, { :id => "cheese_id" }) %>
  <%= hidden_field_tag("guess", "cheese", { :id => "cheese_guess" }) %>
  <% if @game -%>
  <%= hidden_field_tag("game", @game.key, { :id => "cheese_game" }) %>
  <% end -%>
  <%= image_submit_tag("cheese.png", :class => "choice", :value=>"Cheese", :title => "Cheese") %>
</div>
<% end -%>
<% form_tag choose_path do -%>
<div>
  <%= hidden_field_tag("id", @item.id, { :id => "font_id" }) %>
  <%= hidden_field_tag("guess", "font", { :id => "font_guess" }) %>
  <% if @game -%>
  <%= hidden_field_tag("game", @game.key, { :id => "font_game" }) %>
  <% end -%>
  <%= image_submit_tag("font.png", :class => "choice", :value=>"Font", :title=>"Font") %>
</div>
<% end -%>

<div id="other">
<%= link_to "home", root_path %> | 
<%= link_to "stats", stats_path %>
<% if @game -%>
<p>The URL for this game is <%= link_to game_url, game_url %>.<br/>If you bookmark it,
you can return to the game at any time.</p>
<% end -%>
</div>